In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\harsh\Documents\GitHub\data-analysis-project\Quarterly_Retail_Sales_Tax_Data_by_County_and_City.csv", dtype=str)

In [6]:
df.head()

,Fiscal Year,Quarter Ending,County_Number,County,City,Number of Returns,Taxable Sales,Computed Tax,Percent of Tax,FIPS County Code,Primary Lat Dec,Primary Long Dec,County Primary Point
0,2012,09/30/2011,1,Adair,Adair,58,3113359.00,184309.00,0.0004,19001,41.3307464,-94.4709413,POINT (-94.4709413 41.3307464)
1,2012,06/30/2012,27,Decatur,Other,23,410046.00,24603.00,0,19053,40.7376827,-93.7862815,POINT (-93.7862815 40.7376827)
2,2014,09/30/2013,24,Crawford,Vail,20,380459.00,22828.00,0,19047,42.0372125,-95.3819678,POINT (-95.3819678 42.0372125)
3,2014,12/31/2013,1,Adair,Bridgewater,15,420577.00,25235.00,0,19001,41.3307464,-94.4709413,POINT (-94.4709413 41.3307464)
4,2014,12/31/2013,73,Page,Coin,20,127616.00,7657.00,0,19145,40.7391444,-95.1501747,POINT (-95.1501747 40.7391444)

In [7]:
df.describe()

,Fiscal Year,Quarter Ending,County_Number,County,City,Number of Returns,Taxable Sales,Computed Tax,Percent of Tax,FIPS County Code,Primary Lat Dec,Primary Long Dec,County Primary Point
count,46452,46452,46452,46452,46452,46452,46452,46452,46452,46452,46452,46452,46452
unique,14,56,99,99,844,1678,46112,41933,493,99,1227,1175,1228
top,2023,12/31/2022,77,Polk,Other,13,0.00,0.00,0,19153,41.6855048,-93.5735335,POINT (-93.5735335 41.6855048)
freq,3521,926,1013,1013,5531,1230,36,36,13571,1013,731,731,731

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46452 entries, 0 to 46451
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Fiscal Year           46452 non-null  object
 1   Quarter Ending        46452 non-null  object
 2   County_Number         46452 non-null  object
 3   County                46452 non-null  object
 4   City                  46452 non-null  object
 5   Number of Returns     46452 non-null  object
 6   Taxable Sales         46452 non-null  object
 7   Computed Tax          46452 non-null  object
 8   Percent of Tax        46452 non-null  object
 9   FIPS County Code      46452 non-null  object
 10  Primary Lat Dec       46452 non-null  object
 11  Primary Long Dec      46452 non-null  object
 12  County Primary Point  46452 non-null  object
dtypes: object(13)
memory usage: 4.6+ MB